<ion-header>
  <ion-navbar>
    <ion-title>Enviar Dados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-item>
    <ion-label floating> Nome </ion-label>
    <ion-input (input) = "data.varString = $event.target.value"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating> Senha </ion-label>
    <ion-input type = "text" (input) = "data.varNum = $event.target.value"></ion-input>
  </ion-item>

  <button block (click)="enviarDados()">Enviar</button>

  <ion-card text-wrap>
    <ion-card-header> Response from server </ion-card-header>
    Dados a enviar: <br>
    <span *ngIf = "data.varString.length > 0">?username={{data.varString}}</span>
    <span *ngIf = "data.varNum.length > 0">&password={{data.varNum}} </span>
    <hr>
    <ion-card-content>
      {{r}}
    </ion-card-content>
  </ion-card>

</ion-content>
