<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

      <ion-item>
        <ion-label floating color="primary">Login</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" spellcheck="false" autocapitalize="off" required></ion-input>
      </ion-item>
      <p [hidden]="submitted == false" color="danger" padding-left>
        Login necessário
      </p>

      <ion-item>
        <ion-label floating color="primary">Senha</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" required>
        </ion-input>
      </ion-item>
      <p [hidden]="submitted == false" color="danger" padding-left>
        Senha necessária
      </p>

      <ion-row responsive-sm>
        <ion-col>
          <button ion-button (click)="onLogin()" type="submit" color="primary" block>Entrar</button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="onSignup()" color="dark" block>Registrar</button>
        </ion-col>
      </ion-row>
  </ion-list>

  <div *ngIf = "loginError" id="login-error"> Nome ou Senha inválido </div>
  <div *ngIf = "errorMessage">{{errorMessage}}</div>

  <ion-footer>
    <button ion-button (click)="creditsPage()" block>Creditos</button> <br>
  </ion-footer>
</ion-content>